openapi: 3.2.0
info:
  contact:
    email: support@lengow.com
    name: Support
    url: http://help.lengow.com
  description: '# Getting started


    Welcome to Lengow API documentation for Channel Execution solutions, including NetAmplify for Ads Feed Management and NetMarkets for Marketplace Management.'
  license:
    name: Proprietary
    url: http://my.lengow.io
  termsOfService: http://swagger.io/terms/
  title: Lengow API - Channel Execution Authentication API
  version: '1.0'
  x-logo:
    altText: Lengow API
    backgroundColor: '#FFFFFF'
    url: /static/lengow_brand.png
host: api.lengow.io
basePath: /
schemes: https
consumes: ' application/json'
tags:
- name: Authentication
paths:
  /access/get_token:
    post:
      description: '`/access/get_token`


        This endpoint returns the session token, that you will have to provide in an `Authorization` HTTP header to authenticate each of your requests on Lengow API


        To get your token you will need 2 API keys: secret and access_token. You can find them on the API section of your Lengow account.


        You can generate a new secret and access_token on the API section of your Lengow account. The previously generated tokens will be automatically revoked.


        API keys are unique to your account. If you are using a subaccount you will have different API keys per subaccount.


        The session token returned by `access/get_token` is valid **for one hour**. It is unnecessary to request a token before each request.


        To check the remaining validity time of a token, you can use the `/me` API.'
      operationId: Get Authentication Token
      parameters:
      - in: body
        name: access_token
        required: true
        type: string
      - in: body
        name: secret
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          content:
            application/json:
              example:
                account_id: 1
                token: c682877f-5933-4928-914a-69bac1d750ed
              schema: '$ref: #/definitions/Token'
          description: A new session token
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Authentication error - Secret is not accepted
          description: An authentication error
      tags:
      - Authentication
      summary: Get authentication token
      x-summary-source: derived
  /me:
    get:
      description: '`/me`


        This endpoint returns the current session description.


        It shows the expiration date of the current session token.'
      operationId: Get Current Session
      produces:
      - application/json
      responses:
        '200':
          content:
            application/json:
              example:
                account_id: 1
                expire_at: '2023-10-23T13:45:23Z'
              schema: '$ref: #/definitions/Token'
          description: Current session details
        '403':
          content:
            application/json:
              example:
                error:
                  code: 403
                  message: 'Token: c682877f-5933-4928-914a-69bac1d750ed is expired'
              schema: '$ref: #/definitions/Token'
          description: Invalid or Expired session
      tags:
      - Authentication
      summary: Get current session
      x-summary-source: derived
components:
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Reference
  tags:
  - Authentication
  - Rate limits
  - Marketplaces
  - Catalogues
