openapi: 3.2.0
info:
  contact:
    email: support@lengow.com
    name: Support
    url: http://help.lengow.com
  description: '# Getting started


    Welcome to Lengow API documentation for Channel Execution solutions, including NetAmplify for Ads Feed Management and NetMarkets for Marketplace Management.'
  license:
    name: Proprietary
    url: http://my.lengow.io
  termsOfService: http://swagger.io/terms/
  title: Lengow API - Channel Execution Marketplaces API
  version: '1.0'
  x-logo:
    altText: Lengow API
    backgroundColor: '#FFFFFF'
    url: /static/lengow_brand.png
host: api.lengow.io
basePath: /
schemes: https
consumes: ' application/json'
tags:
- name: Marketplaces
paths:
  /v3.0/report/export:
    get:
      AvailableFilters:
        properties:
          error_types:
            description: List of types that can be used to filter errors. Only types with at least one error are returned.
            type: array
          severity_levels:
            description: "List of types that can be\n    used to filter errors. Only types with at least one error are returned."
            type: array
        required:
        - error_types
        - severity_levels
        type: object
      DatabaseStatus:
        properties:
          host:
            description: Database server host
            type: string
          name:
            description: Database name
            type: string
        required:
        - host
        - name
        type: object
      DigestReportOffersEntry:
        properties:
          delta_product_healthy_rate:
            description: Rate delta for healthy products since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          delta_products_in_error_rate:
            description: Rate delta for products in error since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          delta_products_in_feed_rate:
            description: Rate of change for products in feed since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          delta_products_with_warning_rate:
            description: Rate delta for products with warning since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          last_report_date:
            description: Last received report date for this report type.
            type:
            - string
            - 'null'
          products_healthy:
            description: Number of healthy products.
            type:
            - integer
            - 'null'
          products_healthy_rate:
            description: Rate of healthy products.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          products_in_error:
            description: Number of products in error.
            type:
            - integer
            - 'null'
          products_in_feed:
            description: Total number of products in the feed.
            type:
            - integer
            - 'null'
          products_with_warning:
            description: Number of products with warning.
            type:
            - integer
            - 'null'
          timestamp:
            description: 'Report timestamp. Example: "2019-12-24 21:03:00"'
            type:
            - string
            - 'null'
        required:
        - delta_product_healthy_rate
        - delta_products_in_error_rate
        - delta_products_in_feed_rate
        - delta_products_with_warning_rate
        - products_healthy
        - products_healthy_rate
        - products_in_error
        - products_in_feed
        - products_with_warning
        - timestamp
        type: object
      DigestReportProductsEntry:
        properties:
          delta_product_healthy_rate:
            description: Rate delta for healthy products since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          delta_products_in_error_rate:
            description: Rate delta for products in error since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          delta_products_in_feed_rate:
            description: Rate of change for products in feed since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          delta_products_with_warning_rate:
            description: Rate delta for products with warning since previous synchronization.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          last_report_date:
            description: Last received report date for this report type.
            type:
            - string
            - 'null'
          products_healthy:
            description: Number of healthy products.
            type:
            - integer
            - 'null'
          products_healthy_rate:
            description: Rate of healthy products.
            format: decimal
            pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
            type:
            - string
            - 'null'
          products_in_error:
            description: Number of products in error.
            type:
            - integer
            - 'null'
          products_in_feed:
            description: Total number of products in the feed.
            type:
            - integer
            - 'null'
          products_with_warning:
            description: Number of products with warning.
            type:
            - integer
            - 'null'
          timestamp:
            description: 'Report timestamp. Example: "2019-12-24 21:03:00"'
            type:
            - string
            - 'null'
        required:
        - delta_product_healthy_rate
        - delta_products_in_error_rate
        - delta_products_in_feed_rate
        - delta_products_with_warning_rate
        - products_healthy
        - products_healthy_rate
        - products_in_error
        - products_in_feed
        - products_with_warning
        - timestamp
        type: object
      DigestResponse:
        properties:
          available_filters:
            $ref: '#/components/schemas/AvailableFilters'
          last_report_date:
            type: string
          measures:
            $ref: '#/components/schemas/Measures'
        required:
        - available_filters
        - last_report_date
        - measures
        type: object
      DigestV2Reports:
        properties:
          offers:
            $ref: '#/components/schemas/DigestReportOffersEntry'
          products:
            $ref: '#/components/schemas/DigestReportProductsEntry'
        required:
        - offers
        - products
        type: object
      DigestV2Response:
        properties:
          reports:
            $ref: '#/components/schemas/DigestV2Reports'
        required:
        - reports
        type: object
      Error:
        properties:
          attribute:
            $ref: '#/components/schemas/ErrorAttribute'
          code:
            type: string
          error_id:
            type: integer
          header_slug:
            type: string
          impacted_line_id:
            type: integer
          indicator:
            $ref: '#/components/schemas/ErrorIndicator'
          message:
            type: string
          severity:
            type:
            - string
            - 'null'
        required:
        - attribute
        - code
        - error_id
        - header_slug
        - impacted_line_id
        - indicator
        - message
        type: object
      ErrorAttribute:
        properties:
          name:
            type: string
        required:
        - name
        type: object
      ErrorIndicator:
        properties:
          count:
            type: integer
          type:
            type: string
        required:
        - count
        - type
        type: object
      ErrorsResponseSeralizer:
        properties:
          errors:
            items:
              $ref: '#/components/schemas/Error'
            type: array
          total_error_count:
            type: integer
        required:
        - errors
        - total_error_count
        type: object
      GroupsResponse:
        properties:
          error:
            $ref: '#/components/schemas/SeverityResponse'
          slug:
            description: Identifier of the group
            type: string
          warning:
            $ref: '#/components/schemas/SeverityResponse'
        required:
        - error
        - slug
        - warning
        type: object
      LineErrorCount:
        properties:
          count:
            description: Number of lines in error.
            type: integer
        required:
        - count
        type: object
      LineWarningCount:
        properties:
          count:
            description: Number of lines with warning.
            type: integer
        required:
        - count
        type: object
      Measures:
        properties:
          instances_in_error:
            $ref: '#/components/schemas/LineErrorCount'
          instances_with_warning:
            $ref: '#/components/schemas/LineWarningCount'
          products_in_error:
            $ref: '#/components/schemas/ProductsErrorCount'
          products_in_feed:
            $ref: '#/components/schemas/ProductsSent'
          products_published:
            allOf:
            - $ref: '#/components/schemas/ProductsPublished'
            description: Number of products actually published.
          products_with_warning:
            $ref: '#/components/schemas/ProductsErrorCount'
        required:
        - instances_in_error
        - instances_with_warning
        - products_in_error
        - products_in_feed
        - products_published
        - products_with_warning
        type: object
      Product:
        properties:
          additional_data:
            description: Additional data attached on product.
            type: object
          errors:
            description: Errors for the product.
            type: object
          feed_id:
            description: Feed id attached for product.
            type: integer
          level:
            type: integer
          message:
            description: Message attached for product.
            type: string
          product_id:
            description: ID of the product.
            type: string
          task_id:
            description: Task ID for the product.
            type: string
          updated_at:
            type: string
        required:
        - additional_data
        - errors
        - feed_id
        - level
        - message
        - product_id
        - task_id
        - updated_at
        type: object
      ProductsErrorCount:
        properties:
          count:
            description: Number of products in error.
            type: integer
        required:
        - count
        type: object
      ProductsPublished:
        properties:
          count:
            description: Number of products actually published.
            type: integer
          percentage:
            description: Percentage of products actually published.
            type: integer
        required:
        - count
        - percentage
        type: object
      ProductsResponse:
        properties:
          count:
            description: Number of products in status online.
            type: integer
          limit:
            description: Number of products to return.
            type: integer
          products:
            items:
              $ref: '#/components/schemas/Product'
            type: array
        required:
        - count
        - limit
        - products
        type: object
      ProductsSent:
        properties:
          count:
            description: Number of products sent to the channel.
            type: integer
          percentage:
            description: Percentage of products sent to the channel.
            type: integer
        required:
        - count
        - percentage
        type: object
      ReportLinesResponse:
        properties:
          error_header_slug:
            description: The slug of the high-level description of the error.
            type: string
          group_slug:
            description: Identifier of the group.
            type: string
          header:
            description: The list of the column names to be displayed. Attribute names are prefixed with `$`.
            type: string
          nb_products_impacted:
            description: Number of distinct products impacted by the returned report lines.
            type:
            - integer
            - 'null'
          total_report_line_count:
            description: Total number of report lines.
            type: integer
          values:
            description: A list of arrays containing values. Each array has the same number of elements as `header`
            type: array
        required:
        - error_header_slug
        - group_slug
        - header
        - total_report_line_count
        - values
        type: object
      SeverityResponse:
        properties:
          nb_instances:
            description: Number of this severity events
            type: integer
          nb_products_impacted:
            description: Number of products related to this severity event
            type: integer
        required:
        - nb_instances
        - nb_products_impacted
        type: object
      ShardStatus:
        properties:
          key:
            description: Shard key
            type: integer
          ready:
            description: False if the data is being migrated across servers
            type: boolean
        required:
        - key
        - ready
        type: object
      StatusResponse:
        properties:
          database:
            $ref: '#/components/schemas/DatabaseStatus'
          shard:
            $ref: '#/components/schemas/ShardStatus'
          status:
            default: 200
            description: HTTP Status
            type: integer
        required:
        - database
        - shard
        type: object
      description: 'Export errors


        This API is used to generate exports in CSV, with `|` as field separator


        Can return `503` status if data shard is being migrated'
      operationId: Get product reports
      parameters:
      - description: feed_id Identifier of the feed.
        in: query
        name: feed_id
        required: true
        schema:
          type: integer
      - description: "Number of days to skip before the last report was received. \n\nWhen nb_days_to_skip equals 0, the last digest is returned. \n\nWhen nb_days_to_skip equals 1, the digest of the day before is returned.\n\nFor instance, if the last report was received today at 11:03, the last report received yesterday at 11:03 is considered."
        in: query
        name: nb_days_to_skip
        schema:
          default: 0
          type: integer
      - in: path
        name: version
        required: true
        schema:
          pattern: ^[0-9]+(.[0-9]+)?$
          type: string
      responses:
        '200':
          content:
            text/csv:
              schema:
                type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          content:
            application/json:
              schema:
                type: object
      summary: Get product reports
      tags:
      - Marketplaces
components:
  schemas:
    LineWarningCount:
      properties:
        count:
          description: Number of lines with warning.
          type: integer
      required:
      - count
      type: object
    Measures:
      properties:
        instances_in_error:
          $ref: '#/components/schemas/LineErrorCount'
        instances_with_warning:
          $ref: '#/components/schemas/LineWarningCount'
        products_in_error:
          $ref: '#/components/schemas/ProductsErrorCount'
        products_in_feed:
          $ref: '#/components/schemas/ProductsSent'
        products_published:
          allOf:
          - $ref: '#/components/schemas/ProductsPublished'
          description: Number of products actually published.
        products_with_warning:
          $ref: '#/components/schemas/ProductsErrorCount'
      required:
      - instances_in_error
      - instances_with_warning
      - products_in_error
      - products_in_feed
      - products_published
      - products_with_warning
      type: object
    Error:
      properties:
        attribute:
          $ref: '#/components/schemas/ErrorAttribute'
        code:
          type: string
        error_id:
          type: integer
        header_slug:
          type: string
        impacted_line_id:
          type: integer
        indicator:
          $ref: '#/components/schemas/ErrorIndicator'
        message:
          type: string
        severity:
          type:
          - string
          - 'null'
      required:
      - attribute
      - code
      - error_id
      - header_slug
      - impacted_line_id
      - indicator
      - message
      type: object
    ErrorIndicator:
      properties:
        count:
          type: integer
        type:
          type: string
      required:
      - count
      - type
      type: object
    ShardStatus:
      properties:
        key:
          description: Shard key
          type: integer
        ready:
          description: False if the data is being migrated across servers
          type: boolean
      required:
      - key
      - ready
      type: object
    AvailableFilters:
      properties:
        error_types:
          description: List of types that can be used to filter errors. Only types with at least one error are returned.
          type: array
        severity_levels:
          description: "List of types that can be\n    used to filter errors. Only types with at least one error are returned."
          type: array
      required:
      - error_types
      - severity_levels
      type: object
    DigestReportProductsEntry:
      properties:
        delta_product_healthy_rate:
          description: Rate delta for healthy products since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        delta_products_in_error_rate:
          description: Rate delta for products in error since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        delta_products_in_feed_rate:
          description: Rate of change for products in feed since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        delta_products_with_warning_rate:
          description: Rate delta for products with warning since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        last_report_date:
          description: Last received report date for this report type.
          type:
          - string
          - 'null'
        products_healthy:
          description: Number of healthy products.
          type:
          - integer
          - 'null'
        products_healthy_rate:
          description: Rate of healthy products.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        products_in_error:
          description: Number of products in error.
          type:
          - integer
          - 'null'
        products_in_feed:
          description: Total number of products in the feed.
          type:
          - integer
          - 'null'
        products_with_warning:
          description: Number of products with warning.
          type:
          - integer
          - 'null'
        timestamp:
          description: 'Report timestamp. Example: "2019-12-24 21:03:00"'
          type:
          - string
          - 'null'
      required:
      - delta_product_healthy_rate
      - delta_products_in_error_rate
      - delta_products_in_feed_rate
      - delta_products_with_warning_rate
      - products_healthy
      - products_healthy_rate
      - products_in_error
      - products_in_feed
      - products_with_warning
      - timestamp
      type: object
    ProductsErrorCount:
      properties:
        count:
          description: Number of products in error.
          type: integer
      required:
      - count
      type: object
    SeverityResponse:
      properties:
        nb_instances:
          description: Number of this severity events
          type: integer
        nb_products_impacted:
          description: Number of products related to this severity event
          type: integer
      required:
      - nb_instances
      - nb_products_impacted
      type: object
    ProductsPublished:
      properties:
        count:
          description: Number of products actually published.
          type: integer
        percentage:
          description: Percentage of products actually published.
          type: integer
      required:
      - count
      - percentage
      type: object
    ErrorAttribute:
      properties:
        name:
          type: string
      required:
      - name
      type: object
    Product:
      properties:
        additional_data:
          description: Additional data attached on product.
          type: object
        errors:
          description: Errors for the product.
          type: object
        feed_id:
          description: Feed id attached for product.
          type: integer
        level:
          type: integer
        message:
          description: Message attached for product.
          type: string
        product_id:
          description: ID of the product.
          type: string
        task_id:
          description: Task ID for the product.
          type: string
        updated_at:
          type: string
      required:
      - additional_data
      - errors
      - feed_id
      - level
      - message
      - product_id
      - task_id
      - updated_at
      type: object
    LineErrorCount:
      properties:
        count:
          description: Number of lines in error.
          type: integer
      required:
      - count
      type: object
    DigestReportOffersEntry:
      properties:
        delta_product_healthy_rate:
          description: Rate delta for healthy products since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        delta_products_in_error_rate:
          description: Rate delta for products in error since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        delta_products_in_feed_rate:
          description: Rate of change for products in feed since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        delta_products_with_warning_rate:
          description: Rate delta for products with warning since previous synchronization.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        last_report_date:
          description: Last received report date for this report type.
          type:
          - string
          - 'null'
        products_healthy:
          description: Number of healthy products.
          type:
          - integer
          - 'null'
        products_healthy_rate:
          description: Rate of healthy products.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        products_in_error:
          description: Number of products in error.
          type:
          - integer
          - 'null'
        products_in_feed:
          description: Total number of products in the feed.
          type:
          - integer
          - 'null'
        products_with_warning:
          description: Number of products with warning.
          type:
          - integer
          - 'null'
        timestamp:
          description: 'Report timestamp. Example: "2019-12-24 21:03:00"'
          type:
          - string
          - 'null'
      required:
      - delta_product_healthy_rate
      - delta_products_in_error_rate
      - delta_products_in_feed_rate
      - delta_products_with_warning_rate
      - products_healthy
      - products_healthy_rate
      - products_in_error
      - products_in_feed
      - products_with_warning
      - timestamp
      type: object
    DigestV2Reports:
      properties:
        offers:
          $ref: '#/components/schemas/DigestReportOffersEntry'
        products:
          $ref: '#/components/schemas/DigestReportProductsEntry'
      required:
      - offers
      - products
      type: object
    ProductsSent:
      properties:
        count:
          description: Number of products sent to the channel.
          type: integer
        percentage:
          description: Percentage of products sent to the channel.
          type: integer
      required:
      - count
      - percentage
      type: object
    DatabaseStatus:
      properties:
        host:
          description: Database server host
          type: string
        name:
          description: Database name
          type: string
      required:
      - host
      - name
      type: object
  responses:
    TooManyRequests:
      content:
        application/json:
          example:
            error:
              code: 429
              message: 'Request limitation: 500 reached on /v3.0/orders'
      description: The middleware rate-limit bucket is exhausted
      headers:
        Retry-After:
          description: Seconds until the current fixed window expires
          schema:
            minimum: 0
            type: integer
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Reference
  tags:
  - Authentication
  - Rate limits
  - Marketplaces
  - Catalogues
