openapi: 3.2.0
info:
  contact:
    email: support@lengow.com
    name: Support
    url: http://help.lengow.com
  description: '# Getting started


    Welcome to Lengow API documentation for Channel Execution solutions, including NetAmplify for Ads Feed Management and NetMarkets for Marketplace Management.'
  license:
    name: Proprietary
    url: http://my.lengow.io
  termsOfService: http://swagger.io/terms/
  title: Lengow API - Channel Execution Rate limits API
  version: '1.0'
  x-logo:
    altText: Lengow API
    backgroundColor: '#FFFFFF'
    url: /static/lengow_brand.png
host: api.lengow.io
basePath: /
schemes: https
consumes: ' application/json'
tags:
- name: Rate Limits
paths:
  /rate-limits:
    get:
      description: '`/rate-limits`


        This authenticated endpoint returns every API route available to the current login and its configured fixed-window quota. `remaining_credit` is the current Redis bucket value, clamped to zero after exhaustion. `remaining_time` is expressed in seconds. Both remaining fields are `null` when rate limiting is disabled for a route.'
      operationId: Get Rate Limits
      produces:
      - application/json
      responses:
        '200':
          content:
            application/json:
              example:
              - boundary: 500
                method: GET
                remaining_credit: 499
                remaining_time: 42
                url_base: /orders
              schema:
                items:
                  properties:
                    boundary:
                      type:
                      - integer
                      - 'null'
                    method:
                      type: string
                    remaining_credit:
                      type:
                      - integer
                      - 'null'
                    remaining_time:
                      maximum: 60
                      minimum: 0
                      type:
                      - integer
                      - 'null'
                    url_base:
                      type: string
                  required:
                  - url_base
                  - method
                  - boundary
                  - remaining_credit
                  - remaining_time
                  type: object
                type: array
          description: Available routes and current rate-limit state
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Invalid or expired authentication token
          description: Missing, invalid, or expired authentication token
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Can't retrieve rate limits
          description: Rate-limit state could not be retrieved
      tags:
      - Rate Limits
      summary: Get rate limits
      x-summary-source: derived
components:
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Reference
  tags:
  - Authentication
  - Rate limits
  - Marketplaces
  - Catalogues
